.__NODE__::after {
  content: attr(data-foo);
  display: inline-block;
  font-weight: bold;
  width: 140px;
  margin: 10px -30px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}